@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}

.container h1 {
    text-align: center;
}
span {
    display: flex;
    justify-content: center;
}

.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
    text-align: center;
}

.container span{
    font-size: 1rem;
   margin: 10px 0;
    /* background: #000; */
}

.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.container form{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 50px;
    height: 100%;
    
}

.user-name , .user-email , .user-password {
    width: 100%;

}
input:not([type="checkbox"]){
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none;
    font-size: 1rem;
}
.icon {
    position: relative;
    top: -30px;
    left: 90%;
    height: 25px;
    width: 25px;
    background: #fff;
}

.remember-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.remember-text label {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.8rem;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 25px 0 0 25px;
    z-index: 1000;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 25px 25px 0
}

.toggle{
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}

.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right{
    transform: translateX(200%);
}

/* do responsive design */
@media (max-width: 768px) {
    .toggle-container, 
    .toggle-panel {
        display: none;
    }

    .container {
        width: 100%;
        height: auto;
        min-height: 100vh;
        border-radius: 0;
        box-shadow: none;
        justify-content: center;
    }

    .form-container {
        width: 100%;
        padding: 20px;
    }
    .sign-in , .sign-out{
        width: 100%;
    }

    .container h1 {
        font-size: 1.5rem;
        margin-bottom: 10px;
    }

    input:not([type="checkbox"]) {
        font-size: 1rem;
        padding: 12px;
        margin-bottom: 20px;
        
    }

    .remember-text {
        font-size: 0.9rem;
    }

    .container button {
        font-size: 1rem;
        padding: 10px 40px;
    }
    .container.active .sign-in{
        transform: translateX(0);
    }
    .container.active .sign-up{
        transform: translateX(0);
    }
    .icon {
        top: -50px;
        left: 95%;
    }
}

@media (max-width: 780px) {
    /* .container{
        width: 100%;
    } */

    /* .toggle-container{
        display: none;
    }
    .form-container, .sign-in , .sign-out{
        width: 100%;
    } */
    /* .container.active .sign-in{
        transform: translateX(0);
    }
    .container.active .sign-up{
        transform: translateX(0);
    } */
}


